    <script src="{{"/assets/js/jquery.js"| absolute_ur l}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{"/assets/js/aos.js"| absolute_url }}"	 type="text/javascript" charset="utf-8"></script>
    <script src="{{"/assets/js/bootstrap.min.js" | absolute_url}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{"/assets/js/main.js" | absolute_url}}" type="text/javascript" charset="utf-8"></script>
  