{%for item in site.data.lang_route%}
<li  class="lang-selector">
	<a href="{{item.url}}" >
	<div class="dropdown-icon-container pull-left">
		<img src="{{base_url}}/assets/images/{{item.flag}} " alt="">
	</div>
	<div class="text-define">{{item.name}}</div>
</a>
</li>
{% endfor %}
