{% for item in site.data.featured_project %}
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xxs-12 port-items-image-fdata" data-aos="fade-up" data-aos-duration="200">
                     <a href="{{item.url}}" target="_blank" title="{{item.name}}">
                        <div class="img-container">
                           <img src="{{base_url}}/assets/images/featured_project/{{item.images}}">
                           <div class="view-more">
                      </div>
                  </div>
               </a>
            </div>
{% endfor %}