<!DOCTYPE html>
<html lang="en-US" content-status="contact" lang-selector="en">
 <head>
      <meta charset="UTF-8" />
      <meta property="og:locale" content="id" />
      <meta property="og:locale:alternate" content="en_GB" />
      <meta property="og:locale:alternate" content="fr_FR" />
      <meta property="og:locale:alternate" content="es_ES" />
      <meta property="og:site_name" content="Syntac Studio" />
      <meta property='og:url' content="https://syntac.co/">
      <meta property='og:title' content='Syntac Studio' />
      <meta property="og:image" content="favicon.ico" />
      <meta property="og:image" content="assets/images/syntac-banner.png" />
      <meta property="og:image:width" content="400" />
      <meta property="og:image:height" content="300" />
    <meta  property='og:description'  content="In 2016 with various considerations and for the progress of the team, we finally set the name "Syntac Studio" as the official name. Currently we are based in the small town of Sukabumi.
          No need to worry, we have a professional team in the field and will not make you disappointed, as evidenced by almost 95% of our clients come from overseas."/>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="description" content="In 2016 with various considerations and for the progress of the team, we finally set the name "Syntac Studio" as the official name. Currently we are based in the small town of Sukabumi.
          No need to worry, we have a professional team in the field and will not make you disappointed, as evidenced by almost 95% of our clients come from overseas." />
      <meta name="keywords" content="Syntac, syntac studio, syntac network, logo making services, web creation services, online store creation services, application development services " />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="author" content="syntac studio">
 {% include css.html %}
      <link rel="icon" type="text/css" href="{{base_url}}/favicon.ico">
      <title>Syntac Studio | Web Services &amp; Design</title>
   <body>
      <div class="container-body">
         <noscript>
            javascript is not enable please enable javascript on your browser
            <style>
               *{
               display: none !important;
               }
            </style>
         </noscript>
        <header id="header" class="devault">
            <nav class="navbar navbar-default " role="navigation">
               <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" show="false">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>  
                     </button>
                     <a class="navbar-brand goto" href="/en/">
                     <img src="{{base-url}}/assets/images/syntac-vector.png" alt="">
                     </a>
                  </div>
                  
                  <div class="collapsese navbar-collapse navbar-collapse collapse out ">
                     <ul class="nav navbar-nav navbar-right">
                      
                            <li>
                                <a href="/en/?go=who-we-are" class="uppercase goto pharagraph">WHO WE ARE</a>
                            </li>
                            
                            <li>
                                <a href="/en/?go=what-we-do" class="uppercase goto pharagraph">WHAT WE DO</a>
                            </li>
                            
                            <li>
                                <a href="/en/portfolio" class="uppercase goto pharagraph">PORTFOLIO</a>
                            </li>
                            
                            <li>
                                <a href="/en/contact" class="uppercase goto pharagraph">CONTACT US</a>
                            </li>
                            
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown"><div class="dropdown-icon-container pull-left"><img src="/assets/images/lang-en.svg" alt=""></div><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           
  {% include lang_route.html %}


                           
                        </ul>
                     </li>                    
                     </ul>
                  </div>

               </div>
            </nav>
         </header>
        


 <!--start portfolio -->
      <section class="contact" id="contact-us">
         <div class="container">
            <div class="full-width contact-title" data-aos="fade-up" data-aos-duration="400">
               <h2 class="text-left uppercase title">Contact Us</h2>
               <span class="featured-line"></span>
            </div>
            <div class="contact-area">
               <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 col-xxs-12 p-0">
                     <div class="container-fluid contact-text row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 col-xxs-12">
                           <h5 class="text-left capital title">Phone Number</h5>
                           <ul class="list-false contact-list pharagraph" >
                              <li>Marketing: +62 882 1193 2781</li>
                              <li>Support: +62 858 6339 6485</li>
                              <li>Whatsapp: +62 881 1240 087</li>
                           </ul>
                        </div>
                        <div class="outer-title out-title" >
                           <h6 class="uppercase semi-bold pharagraph">Contact Us<span class="linear"></span></h6>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 col-xxs-12">
                           <h5 class="text-left capital title">Email</h5>
                           <ul class="list-false contact-list pharagraph">
                              <li >info@syntac.co.id</li>
                             
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 col-xxs-12 ">
                     <form class="form-grup " method="POST" netlify id="form_message">
                        <div class="row" >
                           <div class="col-lg-6  col-sm-6 col-xs-6 col-xxs-12 p-0 form-input" >
                              <input type="text" name="name" placeholder="Name" class="full-width input" required="" id="name" autocomplete="off">
                           </div>
                           <div class="col-lg-6  col-sm-6 col-xs-6 col-xxs-12 p-0 form-input select ">
                              <select name="who" class="full-width input pharagraph" id="who" autocomplete="off" required="">
                                 <option value="" disabled selected required>-- Who Are You ? --</option>
                                 <option value="Perusahaan">Company</option>
                                 <option value="Individu">Personal</option>
                              </select>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-6  col-sm-6 col-xs-6 col-xxs-12 p-0 form-input">
                              <input type="email" name="email" placeholder="Email Address" class="full-width input" id="email" autocomplete="off" required="">
                           </div>
                           <div class="col-lg-6  col-sm-6 col-xs-6 col-xxs-12 p-0 form-input select">
                              <select name="type-project" class="full-width input pharagraph" id="type" autocomplete="off" required="">
                                 <option value="" disabled selected required>-- Project Type --</option>
                                 <option value="UI/UX Design">UI/UX Design</option>
                                 <option value="Web Development">Web Development</option>
                              </select>
                           </div>
                           <div class="row text-form">
                              <div class="container-fluid">
                                 <textarea name="message" class="full-width input" placeholder="Pesan" rows="1" required="" id="message" autocomplete="off"></textarea>   
                              </div>
                           </div>
                        </div>
                        <div class="row submit-area-full">
                           <div class="pull-right ">
                              <div class="submit-area">
                                 <button type="submit" id="submit" class="uppercase pharagraph">Send Message <img src="{{base_url}}/assets/images/plain-arrow.png" alt=""></button>
                              </div>
                           </div>
                            <div class="pull-right">
                                  <div class="chapta-container">   
                                  <div class="g-recaptcha" data-sitekey="6LcAqGMUAAAAAII1EoK8jl_SFlzhMm8DjA1Z1YQf" data-theme="dark" id="chapta"></div>
                                  </div>
                               </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--end port folio --->

              
  <footer>
          <div  id="footer" class="">
            <div class="container">
               <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 col-xxs-12">
                  <div class="logo-container">
                     <a href="/en/" class="goto" title="#">
                     <img src="{{base_url}}/assets/images/syntac-vector.png" alt="">
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                  <div class="media-list align-to-center">
                     <ul class="list-false" >
                     {%  for item in site.data.social_list %}
                        <li class="pull-left">
                           <a href="{{item.url}}" title="{{item.name}}">
                           <img src="{{base_url}}/assets/images/{{item.images}}" alt="">
                           </a>
                        </li>
                       

      {% endfor%}
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4  col-md-4 col-sm-3 col-xs-3 col-xxs-12 foot-copy">
                  <div class="pull-right copyright">
                     <span class="grey pharagraph">&copy; 2018 Syntac Studio</span>
                  </div>
               </div>
            </div>
         </div>
      </footer>


   </div>
</body>
{%include js.html%}
  <script src='https://www.google.com/recaptcha/api.js'></script>
</html>
