<!DOCTYPE html>
<html lang="en-US" property="index" content-status="" lang-status="/">
   <head>
      <meta charset="UTF-8" />
      <meta property="og:locale" content="id" />
      <meta property="og:locale:alternate" content="en_GB" />
      <meta property="og:locale:alternate" content="fr_FR" />
      <meta property="og:locale:alternate" content="es_ES" />
      <meta property="og:site_name" content="Syntac Studio" />
      <meta property='og:url' content="https://syntac.co/">
      <meta property='og:title' content='Syntac Studio' />
      <meta property="og:image" content="favicon.ico" />
      <meta property="og:image" content="assets/images/syntac-banner.png" />
      <meta property="og:image:width" content="400" />
      <meta property="og:image:height" content="300" />
      <meta  property='og:description'  content="Pada tahun 2016 dengan berbagai pertimbangan dan demi kemajuan team, akhirnya kami menetapkan nama “Syntac Studio” sebagai nama resmi. Saat ini kami berkantor di kota kecil Sukabumi.
         Tak perlu khawatir, kami memiliki team yang profesional di bidangnya dan tidak akan membuat anda kecewa, terbukti dengan hampir 95% klien kami berasal dari manca negara."/>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="description" content="Pada tahun 2016 dengan berbagai pertimbangan dan demi kemajuan team, akhirnya kami menetapkan nama “Syntac Studio” sebagai nama resmi. Saat ini kami berkantor di kota kecil Sukabumi.
         Tak perlu khawatir, kami memiliki team yang profesional di bidangnya dan tidak akan membuat anda kecewa, terbukti dengan hampir 95% klien kami berasal dari manca negara." />
      <meta name="keywords" content="Syntac, syntac studio, syntac network, jasa pembuatan logo, jasa pembuatan web, jasa pembuatan toko online, jasa pembuatan aplikasi" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="author" content="syntac studio">
     {% include css.html %}
      <link rel="icon" type="text/css" href="{{base_url}}/favicon.ico">
      <title>Syntac Studio | Web Services &amp; Design</title>
   </head>
   <body>
      <div class="container-body">
         <noscript>
            javascript is not enable please enable javascript on your browser
            <style>
               *{
               display: none !important;
               }
            </style>
         </noscript>

         
        <header id="header" class="devault">
            <nav class="navbar navbar-default " role="navigation">
               <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" show="false">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>  
                     </button>
                     <a class="navbar-brand " href="/" scroll="0">
                     <img src="/assets/images/syntac-vector.png" alt="">
                     </a>
                  </div>
                  
                  <div class="collapsese navbar-collapse navbar-collapse collapse out ">
                     <ul class="nav navbar-nav navbar-right">
                      
                            <li>
                                <a href="#who-we-are" class="uppercase goto pharagraph">TENTANG KAMI</a>
                            </li>
                            
                            <li>
                                <a href="#what-we-do" class="uppercase goto pharagraph">LAYANAN</a>
                            </li>
                            
                            <li>
                                <a href="/portfolio" class="uppercase goto pharagraph">PORTOFOLIO</a>
                            </li>
                            
                            <li>
                                <a href="contact" class="uppercase goto pharagraph">HUBUNGI KAMI</a>
                            </li>
                            
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown"><div class="dropdown-icon-container pull-left"><img src="/assets/images/lang-id.svg" alt=""></div><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           
                       {% include lang_route.html %}


                           
                        </ul>
                     </li>                    
                     </ul>
                  </div>

               </div>
            </nav>
         </header>

        


         <section class="full-width banner" id="banner">
            <div class="bright"></div>
            <div class="fadeull-width full-height banner-bg-color">
               <div class="banner-text">
                  <div class="banner-title" data-aos="fade-up" data-aos-duration="400">
                     <h1 class="capital text-left title">Syntac Studi<span>o</span></h1>
                  </div>
                  <div class="banner-subtitle text-gray">
                     <h4 class="subtitle white-text"><span class="capital yellow">We Bring Miracles</span> to your Website & Mobile App.</h4>
                  </div>
                  <div class="banner-intext pharagraph text-gray"  >
                     <p class="pharagraph ">Kami akan membawa keajaiban kedalam web dan aplikasi mobile Anda, Sejak 2012 kami telah membantu banyak pihak baik dalam dan luar negeri dalam membuat website dan mobile app.</p>
                  </div>
                  <span class="mini-line"></span>
                  <div class="button-area">
                     <a href="/contact" title="" class="goto">
                     <button type="button" class="uppercase pharagraph">Hubungi Kami  <span class="arrow"><img src="{{base_url}}/assets/images/plain-arrow.png" alt=""></span></i>
                     </button>
                     </a>
                  </div>
                  <div class="dotted-mask">
                     <img src="{{base_url}}/assets/images/dotted.png" alt="" >
                  </div>
               </div>
               <div id="who-we-are"></div>
            </div>
         </section>
         <!--end banner -->
         <!--start what we are -->
         <section class="who-we-are">
            <div class="who-bg">
               <div class="container">
                  <div class="who-title"  data-aos="fade-up" data-aos-duration="400">
                     <h2 class="text-left uppercase title" >
                        who we are
                     </h2>
                     <span class="featured-line"></span>  
                  </div>
                  <div class="about out-title"  >
                     <h6 class="uppercase semi-bold pharagraph">about us <span class="linear"></span></h6>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xxs-12 in-tage">
                        <div class="inset-def">
                           <h3 class="intitle title" >
                              <span class="capital yellow "></span>
                           </h3>
                           <div class="define-who">
                              <p class="grey pharagraph">Kami akan membawa keajaiban kedalam web dan aplikasi mobile Anda.</p>
                              <p class="pharagraph grey">
                                 Sejak 2012 kami telah membantu banyak pihak baik dalam dan luar negeri dalam membuat website dan mobile app.
                                 
                                
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xxs-12 lates">
                        <div class="inset-def">
                           <div class="define-who pharagraph" >
                              <p class="grey pharagraph"> Spesialisasi kami di UI/UX (User Interface / User Exprience) design dan website development.</p>
                              <p class="grey pharagraph">Kami berusaha membantu brand dari berbagai industri untuk menciptakan keajaiban kedalam website dan mobile app nya.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="dotted-mask">
                     <img src="{{base_url}}/assets/images/dotted.png" alt="">
                  </div>
                  <div class="more">
                     <a href="/contact" title=""  class="goto">
                     <button type="button" class="uppercase  yellow pharagraph">Selengkapnya<span class="arrow"><img src="{{base_url}}/assets/images/plain-arrow.png" alt=""></span></i>
                     </button>
                     </a>
                  </div>
                  
                      <div class="set-image-bg" data-aos="fade-in" data-aos-duration="900"  >
                     <img src="{{base_url}}/assets/images/logocup.png" alt="">
                  </div>
                  
               </div>
               <div class="jumper"  id="what-we-do"></div>
            </div>
         </section>
         <!--end what we are -->

         <!--start what we do -->
         <section class="what-we-do">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12 what-we">
                     <div class="">
                        <div class="image-area" data-aos="fade-up" data-aos-duration="200">
                           <img src="{{base_url}}/assets/images/coding.png" alt="">
                        </div>
                        <div class="text-definition">
                           <div class="def-title">
                              <h3 class="text-center uppercase title">Web Development</h3>
                           </div>
                           <div class="definition">
                              <p class="text-center pharagraph ">Kami akan membantu Anda membangun sistem Anda seperti yang Anda harapkan.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4  col-xs-6 col-xxs-12 what-we">
                     <div class="">
                        <div class="image-area" data-aos="fade-up" data-aos-duration="800">
                           <img src="{{base_url}}/assets/images/ui-ux.png" alt="" >
                        </div>
                        <div class="text-definition">
                           <div class="def-title">
                              <h3 class="text-center uppercase title ">UI / UX Design</h3>
                           </div>
                           <div class="definition">
                              <p class="text-center pharagraph">Team UI/UX Designer kami akan menyulap aplikasi anda menjadi menawan dan powerful.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4  col-xs-6 col-xxs-12 what-we">
                     <div class="">
                        <div class="image-area " data-aos="fade-up" data-aos-duration="600">
                           <img src="{{base_url}}/assets/images/web-design.png" alt="">
                        </div>
                        <div class="text-definition">
                           <div class="def-title">
                              <h3 class="text-center uppercase title">Web Design</h3>
                           </div>
                           <div class="definition">
                              <p class="text-center pharagraph">Reputasi usaha anda dibangun dari Merek atau “brand image” yang kuat di dalam pasar. Kami akan membantu anda.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="text-in-title out-title" >
                  <h6 class="uppercase semi-bold pharagraph"> What We Do <span class="linear"></span></h6>
               </div>
            </div>
         </section>
         <!--end what we do -->
         <!--client -->
         <section class="client" id="our-work">
            <div class="container">
               {% assign shuffled_array = site.data.featured_project | shuffle %}

               {% for item in shuffled_array limit:1 %}
               <div class="row">
                  <div class="col-lg-7 col-md-6 col-sm-12 col-xxs-12 text-stage">
                     <div class="row ">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-xxs-12 pull-right">
                           <div class="profect-type" data-aos="fade-up" data-aos-duration="400">
                              <h5 class="uppercase title">Featured Project</h5>
                           </div>
                           <span class="featured-line"></span>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-xxs-12 pull-left client-dest">
                           <div class="client-def">
                              <div class="client-name">
                                 <h4 class="capital yellow text-left title">{{item.name}}</h4>
                              </div>
                              <div class="client-type">
                                 <h4 class="capital text-left title">{{item.type}}</h4>
                              </div>
                              <div class="client-dec">
                                 <p class="grey pharagraph">{{item.description_id}}</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-lg-5 col-md-6 col-sm-12 col-xxs-12 image-stage" >
                     <a href="{{item.url}}" title="{{item.name}}" target="_blank">
                     <div class="clien-image">
                        <img src="{{base_url}}/assets/images/featured_project/{{item.images}}  " alt="" >
                     </div>
                  </a>
                  </div>
               </div>
                 {%endfor%}
            </div>
         </section>
         <!--end client -->
         <!--end port folio --->
            <section class="full-width portfolio" id="portfolio">
            <div class="container">
               <div class="porfolio-title" style="padding-top: 15px;">
                  <div class="pull-right sample-title title" >
                     <a href="http://syntac.dribbble.com/"  target="_blank" title="Dribbble"  class="title" style="text-decoration: none; color: #fedc00;"><h3 class="capital title" >View on dribbble</h3></a>
                      </div>
                  
                  <div class="pull-left intitle">
                     <h2 class="text-right uppercase title" data-aos="fade-up" data-aos-duration="400">
                        Our Latest shot on dribbble
                     </h2>
                     <span class="pull-left featured-line"></span>  
                  </div>
                 
               </div>
               <div class="outer-title out-title" >
                  <h6 class="uppercase semi-bold pharagraph">our portfolio<span class="linear"></span></h6>
               </div>
            </div>
            <div class="container page-list-portfolio">
               <div class=" carousel-tabs-content" id="latest-project-list">
                  {% for item in site.data.portfolio reversed limit:6 %}
         
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xxs-12 port-items-image-fdata" data-aos="fade-up" data-aos-duration="200">
                     <a href="{{item.url}}"  title="{{item.name}}" target="_blank">
                        <div class="img-container">
                           <img src="{{base_url}}/assets/images/project/{{item.image}}">
                           <div class="view-more">
                      </div>
                  </div>
               </a>
            </div>    
{% endfor %}


               </div>
            </div>
            <!--dotted -->
            <div class="dotted-mask dotted-b">
               <img src="{{base_url}}/assets/images/dotted.png" alt="">
            </div>
            <!--end dotted -->
      </div>
      </section>
      <!--start contact -->
  
  <footer>
          <div  id="footer" class="">
            <div class="container">
               <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 col-xxs-12">
                  <div class="logo-container">
                     <a href="/" scroll="0" title="#">
                     <img src="{{base_url}}/assets/images/syntac-vector.png" alt="">
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                  <div class="media-list align-to-center">
                     <ul class="list-false" >
                     {%  for item in site.data.social_list %}
                        <li class="pull-left">
                           <a href="{{item.url}}" target="_blank" title="{{item.name}}">
                           <img src="{{base_url}}/assets/images/{{item.images}}" alt="">
                           </a>
                        </li>
      {% endfor%}
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4  col-md-4 col-sm-3 col-xs-3 col-xxs-12 foot-copy">
                  <div class="pull-right copyright">
                     <span class="grey pharagraph">&copy; 2018 Syntac Studio</span>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <!--end contact -->
      </div>
   </body>
   <script id="latest-project-temp" type="text/template">
   </script>
{% include js.html %}
</html>
