<!DOCTYPE html>
<html lang="en-US" content-status="portfolio">
   <head>
      <meta charset="UTF-8" />
      <meta property="og:locale" content="id" />
      <meta property="og:locale:alternate" content="en_GB" />
      <meta property="og:locale:alternate" content="fr_FR" />
      <meta property="og:locale:alternate" content="es_ES" />
      <meta property="og:site_name" content="Syntac Studio" />
      <meta property='og:url' content="https://syntac.co/">
      <meta property='og:title' content='Syntac Studio' />
      <meta property="og:image" content="favicon.ico" />
      <meta property="og:image" content="assets/images/syntac-banner.png" />
      <meta property="og:image:width" content="400" />
      <meta property="og:image:height" content="300" />
      <meta  property='og:description'  content="Pada tahun 2016 dengan berbagai pertimbangan dan demi kemajuan team, akhirnya kami menetapkan nama “Syntac Studio” sebagai nama resmi. Saat ini kami berkantor di kota kecil Sukabumi.
         Tak perlu khawatir, kami memiliki team yang profesional di bidangnya dan tidak akan membuat anda kecewa, terbukti dengan hampir 95% klien kami berasal dari manca negara."/>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="description" content="Pada tahun 2016 dengan berbagai pertimbangan dan demi kemajuan team, akhirnya kami menetapkan nama “Syntac Studio” sebagai nama resmi. Saat ini kami berkantor di kota kecil Sukabumi.
         Tak perlu khawatir, kami memiliki team yang profesional di bidangnya dan tidak akan membuat anda kecewa, terbukti dengan hampir 95% klien kami berasal dari manca negara." />
      <meta name="keywords" content="Syntac, syntac studio, syntac network, jasa pembuatan logo, jasa pembuatan web, jasa pembuatan toko online, jasa pembuatan aplikasi" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="author" content="syntac studio">
     {% include css.html %}
      <link rel="icon" type="text/css" href="{{base_url}}/favicon.ico">
      <title>Syntac Studio | Web Services &amp; Design</title>
   </head>
   <body>
      <div class="container-body">
         <noscript>
            javascript is not enable please enable javascript on your browser
            <style>
               *{
               display: none !important;
               }
            </style>
         </noscript>
     {% include css.html %}
         
 <header id="header" class="devault">
            <nav class="navbar navbar-default " role="navigation">
               <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" show="false">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>  
                     </button>
                     <a class="navbar-brand goto" href="/en/">
                     <img src="/assets/images/syntac-vector.png" alt="">
                     </a>
                  </div>
                  
                  <div class="collapsese navbar-collapse navbar-collapse collapse out ">
                     <ul class="nav navbar-nav navbar-right">
                      
                            <li>
                                <a href="/en/?go=who-we-are" class="uppercase goto pharagraph">WHO WE ARE</a>
                            </li>
                            
                            <li>
                                <a href="/en/?go=what-we-do" class="uppercase goto pharagraph">WHAT WE DO</a>
                            </li>
                            
                            <li>
                                <a href="/en/portfolio" class="uppercase goto pharagraph">PORTFOLIO</a>
                            </li>
                            
                            <li>
                                <a href="/en/contact" class="uppercase goto pharagraph">CONTACT US</a>
                            </li>
                            
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown"><div class="dropdown-icon-container pull-left"><img src="/assets/images/lang-en.svg" alt=""></div><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           
  {% include lang_route.html %}


                           
                        </ul>
                     </li>                    
                     </ul>
                  </div>

               </div>
            </nav>
         </header>

        


 <!--start portfolio -->
         <section class="full-width portfolio" id="portfolio">
            <div class="container">
               <div class="porfolio-title" style="padding-top: 15px;">
                  <div class="pull-right sample-title title" >
                       <a  title="Dribbble" target="_blank" class="title" style="text-decoration: none; color: #fedc00;"><h3 class="capital title"  >Our Latest Project</h3></a>
                      </div>
                  
                  <div class="pull-left intitle">
                     <h2 class="text-right uppercase title" data-aos="fade-up" data-aos-duration="400">
                        LATEST PROJECT
                     </h2>
                     <span class="pull-left featured-line"></span>  
                  </div>
                 
               </div>
               <div class="outer-title out-title" >
                  <h6 class="uppercase semi-bold pharagraph">our portfolio<span class="linear"></span></h6>
               </div>
            </div>
            <div class="container page-list-portfolio">
               <div class=" carousel-tabs-content" id="latest-project-list">
                  {% include portfolio.html %}
               </div>
            </div>
            <!--dotted -->
            <div class="dotted-mask dotted-b">
               <img src="{{base_url}}/assets/images/dotted.png" alt="">
            </div>
            <!--end dotted -->
      </div>
      </section>
      <!--end port folio --->

  
  <footer>
          <div  id="footer" class="">
            <div class="container">
               <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 col-xxs-12">
                  <div class="logo-container">
                     <a href="/en/" class="goto" title="#">
                     <img src="{{base_url}}/assets/images/syntac-vector.png" alt="">
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                  <div class="media-list align-to-center">
                     <ul class="list-false" >
                     {%  for item in site.data.social_list %}
                        <li class="pull-left">
                           <a href="{{item.url}}" title="{{item.name}}">
                           <img src="{{base_url}}/assets/images/{{item.images}}" alt="">
                           </a>
                        </li>
                       

      {% endfor%}
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4  col-md-4 col-sm-3 col-xs-3 col-xxs-12 foot-copy">
                  <div class="pull-right copyright">
                     <span class="grey pharagraph">&copy; 2018 Syntac Studio</span>
                  </div>
               </div>
            </div>
         </div>
      </footer>


   </div>
</body>
{%include js.html%}

</html>